@import url(__element/profile__element.css);
@import url(__image/profile__image.css);
@import url(__list/profile__list.css);
@import url(__subtitle/profile__subtitle.css);
@import url(__title/profile__title.css);
@import url(__edit/profile__edit.css);
@import url(__add/profile__add.css);
@import url(__container/profile__container.css);
@import url(__discripton/profile__discription.css);
@import url(__name-edit-container/profile__name-edit-container.css);

.profile {
    /* max-width: 880px; */
    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}